/*animation*/
.animated, .animated.topMoveBottom, .animated.lazy .ani-1,
.animated.lazy .ani-2,
.animated.lazy .ani-3,
.animated.lazy .ani-4,
.animated.lazy .ani-5,
.animated.lazy .ani-6,
.animated.lazy .ani-7,
.animated.lazy .ani-8, .animated.lazy .topMoveBottom {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease; }

.scroll-animate {
  opacity: 0; }

.animated.ani-1, .animated.ani-2, .animated.ani-3, .animated.ani-4, .animated.ani-5, .animated.ani-6, .animated.ani-7, .animated.ani-8 {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s; }

.animated.ani-1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s; }

.animated.ani-2 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s; }

.animated.ani-3 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s; }

.animated.ani-4 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s; }

.animated.ani-5 {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s; }

.animated.ani-6 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s; }

.animated.ani-7 {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s; }

.animated.ani-8 {
  animation-delay: 2.8s;
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s; }

.animated.zoomIn {
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn; }

.animated.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; }

.animated.fadeInDown {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown; }

.animated.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

.animated.fadeInLeft {
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft; }

.animated.fadeInRight {
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight; }

.animated.bounceInLeft {
  animation-name: bounceInLeft;
  -webkit-animation-name: bounceInLeft; }

.animated.topMoveBottom {
  animation-name: topMoveBottom;
  -webkit-animation-name: topMoveBottom;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite; }

.animated.rotes {
  animation-name: rotes;
  -webkit-animation-name: rotes;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s; }

.animated.lazy .ani-1,
.animated.lazy .ani-2,
.animated.lazy .ani-3,
.animated.lazy .ani-4,
.animated.lazy .ani-5,
.animated.lazy .ani-6,
.animated.lazy .ani-7,
.animated.lazy .ani-8 {
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s; }

.animated.lazy .ani-1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s; }

.animated.lazy .ani-2 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s; }

.animated.lazy .ani-3 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s; }

.animated.lazy .ani-4 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s; }

.animated.lazy .ani-5 {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s; }

.animated.lazy .ani-6 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s; }

.animated.lazy .ani-7 {
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s; }

.animated.lazy .ani-8 {
  animation-delay: 2.8s;
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s; }

.animated.lazy .zoomIn {
  animation-name: zoomIn;
  -webkit-animation-name: zoomIn; }

.animated.lazy .fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn; }

.animated.lazy .fadeInDown {
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown; }

.animated.lazy .fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

.animated.lazy .fadeInLeft {
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft; }

.animated.lazy .fadeInRight {
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight; }

.animated.lazy .bounceInLeft {
  animation-name: bounceInLeft;
  -webkit-animation-name: bounceInLeft; }

.animated.lazy .topMoveBottom {
  animation-name: topMoveBottom;
  -webkit-animation-name: topMoveBottom;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite; }

.animated.lazy .rotes {
  animation-name: rotes;
  -webkit-animation-name: rotes;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s; }

@-webkit-keyframes rotes {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotes {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-ms-keyframes rotes {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@keyframes rotes {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-moz-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-ms-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-ms-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-ms-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-ms-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-ms-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-webkit-keyframes bounceInLeft {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    -moz-transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0);
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0);
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-moz-keyframes bounceInLeft {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    -moz-transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0);
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0);
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-ms-keyframes bounceInLeft {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    -moz-transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0);
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0);
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@keyframes bounceInLeft {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0);
    -webkit-transform: translate3d(-1000px, 0, 0);
    -moz-transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0);
    -webkit-transform: translate3d(-10px, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0);
    -webkit-transform: translate3d(5px, 0, 0);
    -moz-transform: translate3d(5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-webkit-keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
    -webkit-transform: translate3d(1000px, 0, 0);
    -moz-transform: translate3d(1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
    -webkit-transform: translate3d(-25px, 0, 0);
    -moz-transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0);
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0);
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-moz-keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
    -webkit-transform: translate3d(1000px, 0, 0);
    -moz-transform: translate3d(1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
    -webkit-transform: translate3d(-25px, 0, 0);
    -moz-transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0);
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0);
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-ms-keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
    -webkit-transform: translate3d(1000px, 0, 0);
    -moz-transform: translate3d(1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
    -webkit-transform: translate3d(-25px, 0, 0);
    -moz-transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0);
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0);
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(1000px, 0, 0);
    -webkit-transform: translate3d(1000px, 0, 0);
    -moz-transform: translate3d(1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
    -webkit-transform: translate3d(-25px, 0, 0);
    -moz-transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0);
    -webkit-transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0);
    -webkit-transform: translate3d(-5px, 0, 0);
    -moz-transform: translate3d(-5px, 0, 0); }
  100% {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none; } }

@-webkit-keyframes topMoveBottom {
  0% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); }
  50% {
    transform: translate3d(0px, -10px, 0);
    -webkit-transform: translate3d(0px, -10px, 0);
    -moz-transform: translate3d(0px, -10px, 0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); } }

@-moz-keyframes topMoveBottom {
  0% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); }
  50% {
    transform: translate3d(0px, -10px, 0);
    -webkit-transform: translate3d(0px, -10px, 0);
    -moz-transform: translate3d(0px, -10px, 0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); } }

@-ms-keyframes topMoveBottom {
  0% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); }
  50% {
    transform: translate3d(0px, -10px, 0);
    -webkit-transform: translate3d(0px, -10px, 0);
    -moz-transform: translate3d(0px, -10px, 0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); } }

@keyframes topMoveBottom {
  0% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); }
  50% {
    transform: translate3d(0px, -10px, 0);
    -webkit-transform: translate3d(0px, -10px, 0);
    -moz-transform: translate3d(0px, -10px, 0); }
  100% {
    transform: translate3d(0px, 0px, 0);
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0); } }